
body
{
    margin: 0;
    color: #333;
    padding-bottom: 40px;
    min-width: 800px;
}

* {
    box-sizing: border-box;
}

body, textarea, input, button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

h6, h5, h4, h3, h2, h1 {
    font-weight: normal;
    font-weight: 300;
}

h1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

#video {
    margin-left: auto;
    margin-right: auto;
    width: 798px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 2px #eee solid;
}

#video iframe {
    margin-left: -1px;
}

#content {
    width: 798px;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-size: 13pt;
    line-height: 1.5em;
    text-align: justify;
}

#right {
    float: right;
    width: 50%;
}

#left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

#mc-embedded-subscribe-form {
    margin: 0 !important;
    padding: 0 !important;
}

#share-on-twitter {
    min-height: 28px;
}

#copyright {
    font-size: 10pt;
    color: #aaa;
    font-family: helvetica, arial, sans-serif;
    margin-top: 20px;
}

.custom-tweet-button, .button {
    margin: 3px 0;
    display: block;
    background-color: #18AF91 !important;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 2px !important;
}

.custom-tweet-button > [class^="icon-"], .button > [class^="icon-"] {
    margin-right: 5px;
    display: inline-block;
}

.fancybox-skin {
    background-color: white !important;
    padding-left: 30px !important;
}

#mc_embed_signup {
}

#mc_embed_signup input {
    outline: none;
    border-color: #ccc !important;
    border-width: 3px !important;
    border-radius: 4px;
}

#mc_embed_signup label {
    font-size: 12pt;
    color: #333 !important;
    margin-bottom: 7px !important;
}

#mc_embed_signup input:focus {
    border-color: #18AF91 !important;
}

#mc_embed_signup .button {
    padding: 5px 70px !important;
    height: auto !important;
}