
body
{
    margin: 0;
    color: #333;
    padding-bottom: 40px;
}

* {
    box-sizing: border-box;
}

body, textarea, input, button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    padding: 10px;
}

h6, h5, h4, h3, h2, h1 {
    font-weight: normal;
    font-weight: 300;
}

h4 {
    margin: 15px 0 12px 0;
}
h4.top-header {
    margin-top: 0px;
}

@media (min-width: 768px) {
    h4 {
        margin-top: 0px;
    }
    p {
        padding: 0 15%;
    }
    .footer > :last-child {
        text-align: right;
    }
}

p {
    margin: 0;
    line-height: 1.5em;
    text-align: justify;
}

.row {
    margin-left: 3px;
    margin-right: 3px;
}

#video {
    margin-left: auto;
    margin-right: auto;
    border: 2px #eee solid;
}

.fluid-width-video-wrapper {
    padding-bottom: 4px !important;
    margin-top: 50px;
    margin-bottom: 40px;
}

#content {
    max-width: 798px;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-size: 13pt;
    line-height: 1.5em;
    text-align: justify;
}

#right {
    float: right;
    width: 50%;
}

#left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

#mc-embedded-subscribe-form {
    margin: 0 !important;
    padding: 0 !important;
}

#share-on-twitter {
    min-height: 28px;
}

.button {
    margin: 3px 0;
    display: block !important;
    background-color: #18AF91;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.button:hover, .button:focus {
    background-color: #6f5499;
    outline: none;
}

.button:hover, .button:active, .button:visited, .button:focus {
    color: white !important;
    text-decoration: none !important;
}

.button > [class^="icon-"] {
    margin-right: 5px;
    display: inline-block;
}

.fancybox-skin {
    background-color: white !important;
    padding-left: 30px !important;
}

#mc_embed_signup input {
    outline: none;
    border-color: #ccc !important;
    border-width: 3px !important;
    border-radius: 4px;
}

#mc_embed_signup label {
    font-size: 12pt;
    color: #333 !important;
    margin-bottom: 7px !important;
}

#mc_embed_signup input:focus {
    border-color: #18AF91 !important;
}

#mc_embed_signup .button {
    padding: 5px 70px !important;
    height: auto !important;
}

#kickstarter-btn {
    max-width: 400px;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 13px;
    margin-bottom: 20px;
}

.footer {
    font-size: 10pt;
    color: #aaa;
    font-family: helvetica, arial, sans-serif;
    margin-bottom: 20px;
}

hr {
    height: 0;
    margin: 30px 0;
    border: 1px #eee solid;
}