            #home      { display: none;  }
body.home   #home      { display: table; }
body.home   #workspace { display: none;  }

/* General Page Layout.  */
html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

body
{
    background-color: #fafafa;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

table#home
{
    width: 100%;
    height: 100%;
}

table#home-content
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Left Column */
#logo
{
    margin-bottom: 5px;
}

.tag-line
{
    font-family: sanchez;
    font-size: 45pt;
    margin-bottom: 15px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 25px;
    color: #444;
    text-align: center;
    line-height: 1.5em;
}

.signature
{
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    color: #aaa;
    font-size: 10pt;
    padding-left: 28px;
    height: 40px;
    margin-top: 10px;
}

.signature a
{
    color: #333;
    text-decoration: none;
}

.signature a:hover
{
    color: black;
}

#home-mode-menu
{
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 450px;
    margin-bottom: 10px;
    background-color: darken(#535C64, 5%);
    border: 1px ;
    padding: 10px;
    border-radius: 5px;
    color: white;

    input
    {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) inset;
        border: 1px #333 solid;
    }
    
    .menu-options
    {
        border: 1px #333 solid;
    }
    
    button
    {
        border-color: #444;
        text-shadow: none;
        color: #e5e5e5;
        background: linear-gradient(lighten(#535C64, 3%), darken(#566A78, 2%));
        
        &:hover
        {
            background: linear-gradient(lighten(#535C64, 6%), lighten(#566A78, 1%));
        }
    }
}
