// Helpers.
@import "menu.less";
@import "shortcuts.less";
@import "icomoon/style.less";
@import "tooltip.less";
@import "home.less";
@import "sanchez.less";
@import "workspace.less";
@import "toolbar.less";
@import "editor.less";

@top-toolbar-height: 50px;
@codr-blue: #319ac2;
@share-pane-width: 200px;
@left-toolbar-width: 65px;

body
{
    margin: 0;
    cursor: default;
    background-color: #fafafa;
    overflow: hidden;
    color: #333;
}

body.hidden
{
    visibility: hidden;
}

body, textarea, input, button
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 10pt;
}

.selectable
{
    cursor: auto;
}

button
{
    &.small
    {
        padding: 2px;
        font-size: 10pt;
        margin: 0;
    }

    /* Layout */
    display: block;
    padding: 8px;
    margin: 10px 5px 10px 5px; /* top, right, bottom, left */
    font-size: 12pt;
    line-height: 1.3em;

    /* Colors */
    background-color: lighten(@codr-blue, 10%);
    color: darken(@codr-blue, 30%);
    transition: background-color 0.2s;

    /* Text */
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    text-decoration: none;

    /* Other */    
    outline: none;
    border: 1px darken(@codr-blue, 3%) solid;
    cursor: pointer;
    &::-moz-focus-inner
    {
        border: 0;
    }

    &:hover
    {
        background-color: @codr-blue;
        border-color: darken(@codr-blue, 8%);
    }

    &:disabled, &:disabled:hover
    {
        background-color: lighten(@codr-blue, 20%);
        border-color: lighten(@codr-blue, 15%);
        color: darken(@codr-blue, 5%);
        cursor: default;
    }
    
    &:focus
    {
        border-color: darken(@codr-blue, 20%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        outline: none;
    }
}