
@codr-blue: #319ac2;
@share-pane-width: 200px;

body
{
    font-family: arial, sans-serif;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fafafa;
    font-family: verdana;    
}

.logo
{
    font-family: sanchez, arial;
    -webkit-text-stroke: 1px;
    font-size: 35px;
    color: @codr-blue;
    text-shadow: 1px 2px 3px white;
}

            #home      { display: none;  }
body.home   #home      { display: block; }
body.home   #workspace { display: none;  }

.button
{
    
    /* Layout */
    display: block;
    padding: 8px;
    margin: 10px 5px 10px 5px; /* top, right, bottom, left */

    /* Colors */
    background-color: lighten(@codr-blue, 10%);
    color: darken(@codr-blue, 30%);
    transition: background-color 0.2s;

    /* Text */
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    text-decoration: none;

    /* Other */    
    outline: none;
    border: 1px transparent solid;
    border-radius: 3px;
    cursor: pointer;

    &:hover:not(.disabled):not(.disable-hover)
    {
        background-color: @codr-blue;
    }

    &.disabled, &.disabled:hover
    {
        background-color: lighten(@codr-blue, 20%);
        color: @codr-blue;
        cursor: default;
    }
    
    &:focus
    {
        border-color: darken(@codr-blue, 15%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
}

#home
{
    @width: 450px;
    @height: 500px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    height: @height;
    width: @width;
    margin-left: -@width / 2;
    margin-top: -@height / 2;
    
    border: 1px #ccc solid;
    background-color: #f0f0f0;
    border-radius: 4px;
    
    #home-content
    {
        @homeBorderWidth: 6px;
        position: absolute;
        top: @homeBorderWidth;
        left: @homeBorderWidth;
        right: @homeBorderWidth;
        bottom: @homeBorderWidth;
        background-color: white;
        border: 1px #ccc solid;
    }
    
    h3.logo
    {
        font-size: 96px;
        margin: 0;
        text-align: center;
    }
    
    #modes
    {
        background-color: #f3f3f3;
        position: absolute;
        top: 130px;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px #ccc solid;
        
        .menu-options
        {
            background-color: white;
        }
    }        
}

#workspace
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f0f0;
    
    &.people-pane-expanded
    {
        #people
        {
            display: block;    
        }
        
        #edit
        {
            right: @share-pane-width + 1px !important;
        }
    }
    
    #toolbar
    {
        height: 50px;
        border-bottom: 1px #ccc solid;
        
        .divider
        {
            height: 50px;
            border-right: 1px #f5f5f5 solid;
            border-left: 1px #ccc solid;
            float: left;
        }
        
        #toolbar-logo
        {
            margin-top: -1px;
            width: 150px;
            text-align: center;
            float: left;
        }
        
        #toolbar-content-right
        {
            float: right;
            width: @share-pane-width + 1;   
        }
        
        .toolbar-item
        {
            float: left;
            height: 100%;
            position: relative;
            
            .toolbar-item-btn
            {
                cursor: pointer;
                transition: background-color 0.2s;
                padding-left: 10px;
                padding-right: 10px;

                height: 46px;
                padding-top: 4px;
                
                .toolbar-item-caption
                {
                    color: #888;
                    font-size: 14px;
                    font-family: sanchez;
                }
                
                .toolbar-item-selection
                {
                    font-family: verdana;
                    color: #333;
                    font-size: 16px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                
               
                [class^="icon-"]
                {
                    font-size: 26pt;
                    position: relative;
                    top: -2px;
                }                                    
            }
            
            &:not(.open) .toolbar-item-btn:hover
            {
                background-color: rgba(255, 255, 255, 0.5);
            }
            
            .toolbar-dropdown
            {
                display: none;
            }
            
            &.open
            {
                background-color: white;
                z-index: 10;
                margin-left: -3px;
                margin-right: -3px;
                background-color: #fafafa;
                box-shadow: 0 0 8px #aaa;

                .toolbar-item-btn
                {
                    padding-left: 13px;
                    border-top: 2px @codr-blue solid;
                    padding-top: 3px;    
                }

                .toolbar-dropdown-top-border
                {
                    position: absolute;
                    top: 44px;
                    left: 0;
                    background-color: #fafafa;
                    height: 10px;
                    z-index: 20;
                    width: 100%;
                }
                
                .toolbar-item-selection
                {
                    display: none;
                }
                
                .toolbar-item-caption
                {
                    font-size: 22px;
                    -webkit-text-stroke: 0.5px;
                    text-shadow: 1px 2px 3px white;
                }
                
                .toolbar-dropdown
                {
                    display: block;
                    position: absolute;
                    top: 51px;
                    left: 0;
                    bottom: 0;
                    background-color: white;
                    box-shadow: 0px 0px 8px #aaa;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: #fafafa;
                    
                    .button
                    {
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    
        /***************** TITLE OPTION *********************/
        
        .toolbar-item#title
        {
            width: 200px;
            &.open
            {
                width: 206px;                    
            }
            
            .toolbar-dropdown
            {
                width: 400px;
                height: 164px;
            }
            
            input
            {
                width: 332px;
                margin-left: 20px;
                margin-top: 20px;
                padding: 12px;
                border: 1px white solid;
                box-shadow: 0 0 5px #bbb inset;
                border-radius: 5px;
                outline: none;
                font-size: 12pt;
            }
            
            .horizontal-divider
            {
                margin-top: 20px;
                margin-bottom: 19px;
                border-top: 1px #ddd solid;
                border-bottom: 1px white solid;
            }
        }
                    
                    
        /***************** MODE OPTION *********************/
        
        .toolbar-item#mode
        {
            width: 200px;
            &.open
            {
                width: 206px;
            }
            
            .toolbar-dropdown
            {
                width: 400px;
                height: 400px;
            }
            
            #mode-menu
            {
                border: 1px #ddd solid;
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 10px;
                top: 10px;
            }
        }
        
        /***************** EDIT BUTTON *********************/
        #edit-button
        {
            display: inline-block;
            text-align: left;
            height: 30px;
            margin-left: 15px;
            padding-left: 11px;
            margin-top: 6px;            
            padding-top: 5px;
            padding-bottom: 0;
           
            [class^="icon-check"]
            {
                font-size: 15pt;
                line-height: 10px;
                position: relative;
                top: 2px;
            }
            
            .text
            {
                margin-left: -3px;
            }
            
            i.icon-check            { display: none;   }
            i.icon-check-empty      { display: inline; }
            &.on i.icon-check       { display: inline; left: 1px;}
            &.on i.icon-check-empty { display: none;   }
            
            &:not(.on) 
            {
                background-color: lighten(desaturate(@codr-blue, 40%), 10%);
                color: desaturate(darken(@codr-blue, 40%), 40%);
            }
        }

        #people-pane-button
        {
            display: inline-block;
            height: 25px;
            width: 25px;
            text-align: center;
            color: orange;

            &:active
            {
                color: orange;
            }
            
        }
    }
    
    #edit
    {
        position: absolute;
        top: 51px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    #people
    {
        display: none;
        position: absolute;
        top: 51px;
        right: 0;
        bottom: 0;
        width: @share-pane-width;
        border-left: 1px #ccc solid;
        
        .divider
        {
            border-top: 1px #ccc solid;
            border-bottom: 1px #f5f5f5 solid;
        }    
    
        #line-top
        {
            border-top: 1px #f5f5f5 solid;
        }

        #chat-box
        {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 1em;
            height: 4em;
            font-size: 10pt;
        }
    }
}


/***************** ACE EDITOR STYLES *********************/

@selectionColor: saturate(darken(@codr-blue, 10%), 50%);
@collapsedSelectionColor: darken(@codr-blue, 10%);

.remote-selection, .remote-selection-collapsed, .remote-selection-collapsed-hat
{
    position: absolute;
    z-index: 5;    
}

.remote-selection
{
    background: @selectionColor;
    opacity: 0.2;
}

.remote-selection-collapsed
{
    background: transparent;
    border-left: 2px @collapsedSelectionColor solid;
    margin-top: -1px;
}

.remote-selection-collapsed-hat
{
    background-color: @collapsedSelectionColor;
    margin-top: -3px;
    margin-left: -2px;
    width: 6px !important;
    height: 6px !important;
    border-radius: 6px;
}

.ace_scroller
{
   box-shadow: 0 0 5px #ccc inset;
   margin-right: -2px;
}

.ace_gutter
{
    width: 49px !important;
    border-right: 1px #ccc solid;
}

.ace_gutter-layer
{
    width: 49px !important;
}

.ace-tm .ace_gutter-active-line,
.ace-tm .ace_marker-layer .ace_active-line
{
    background: rgba(0, 0, 0, 0.03) !important;
}

.ace-tm .ace_marker-layer .ace_selection
{
    background: #ddd !important;
}

BODY:not(.is-editing)
{
        
    .ace-tm .ace_gutter-active-line,
    .ace-tm .ace_marker-layer .ace_active-line
    {
        background: transparent !important;
    }
    
    .ace-tm .ace_cursor
    {
        border-left-color: transparent !important;
    }
}
