.menu
{
    height: 100%;
    position: relative;
    width: 100%;
    
    &.disabled .option
    {
        cursor: default !important;
    }

    .menu-search
    {
        @inputPadding: 9px;
        margin-right: @inputPadding * 2 + 2;
        position: relative;
        
        .icon-search
        {
            position: absolute;
            right: -10px;
            top: 10px;
            font-size: 18px;
            color: #777 !important;
        }
        
        input
        {
            margin: 0;
            padding: @inputPadding;        
            outline: none;
            width: 100%;
            border-width: 0;
            line-height: 21px;
        }
        
        .icon-search
        {
            color: #333;
            background-color: white;
        }
    }
    
    .menu-options
    {
        position: absolute;
        left: 0;
        top: 43px;
        bottom: 43px;
        right: 0;
        overflow: auto;
        text-align: left;
        background-color: white;
    }
    
    .menu-button-wrap
    {
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
    }
    
    .menu-button
    {
        display: block;
        margin: 0;
        width: 100%;
    }
    
    .option
    {
        font-size: 10pt;
        color: #999;
        padding-left: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: #eaeaea 1px solid;
        cursor: pointer;
        position: relative;
        line-height: 1em;
    }
    
    .option.current
    {
        color: black;
    }

    .badge
    {
        position: absolute;
        top: 6px;
        right: 0px;
        display: inline-block;
        margin-right: 1em;
        padding: 5px 7px;
        border-radius: 2px;
        font-size: 9pt;
        border: 1px #ddd solid;
        color: #888;
        background-color: white;
    }
    
    .menu-favs
    {
        //border-bottom: 2px #474f56 solid;
        .option:last-child
        {
            border-bottom-color: white !important;
        }
    }
    
    .menu-favs + .option
    {
        border-top: #eee 1px solid;
    }
}