.menu
{
    height: 100%;
    position: relative;
}

.menu-search
{
    width: 374px;
    border: 1px #ccc solid;
    padding: 5px;
    margin-top: 6px;
    outline: none;
}

.menu-options
{
    position: absolute;
    left: 0;
    top: 42px;
    bottom: 0;
    right: 0;
    overflow: auto;
    text-align: left;
    border-top: 1px #c5cad5 solid;

}

.menu .option
{
    font-size: 10pt;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-bottom: #eee 1px solid;
    cursor: pointer;
}

.menu .option.current
{
    background-color: #f7f7f7;
}

.menu .menu-favs
{
   border-bottom: 4px solid #666;
}

.menu .menu-favs + .option
{
    border-top: #eee 1px solid;
}

