
.icon-code:before { content: '\e806'; } /* '' */
.icon-split:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-down-circled2:before { content: '\e805'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-check-empty:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-arrow-combo:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */