body
{
    font-family: arial, sans-serif;
}

#lang-wrap
{
    display: none;
}

.selectLang #lang-wrap
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    background-color: #dae5ea;
    border-radius: 5px;
    border: 1px #d5dae5 solid;
    padding: 15px;
    display: block;
}

#lang-wrap h3
{
    font-weight: normal;
    color: #556677;
    text-shadow: 1px 2px 3px rgba(255,255,255, 0.3);
    font-size: 46pt;
    margin-top: 10px;
    font-family: 'Unica One';
    /*font-family: 'Open Sans Condensed',sans-serif;*/
    margin-bottom: 15px;
}

#lang-wrap h3 span.io
{
    color: #8899AA;
}

.or
{
    font-size: 11pt;
    color: #8899aa;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 1px 2px 3px rgba(255,255,255, 0.3);
}

#lang-wrap .btn
{
    font-size: 14pt;
}

.btn
{
    background-color: rgba(0,0,0,.6);
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.1);
    text-align: center;
    border: 1px solid darken(#e4563a, 5%);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.btn:hover
{
    background-color: #cf3a1c;
}

#languages
{
    background: rgba(255, 255, 255, 0.95);
    height: 250px;
    position: relative;
    border: 1px #c5cad5 solid;
}


#search
{
    width: 374px;
    border: 1px #ccc solid;
    padding: 5px;
    margin-top: 6px;
    outline: none;
}

#languages #options
{
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inner 0 0 5px rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 42px;
    bottom: 0;
    right: 0;
    overflow: auto;
    text-align: left;
    border-top: 1px #c5cad5 solid;

}

#languages .option
{
    font-size: 10pt;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-bottom: #eee 1px solid;
    cursor: pointer;
}

#languages .option.current
{
    background-color: #f7f7f7;
}

#languages #favorites
{
   border-bottom: 4px solid #666;
}

#languages #favorites + .option
{
    border-top: #eee 1px solid;
}

.selectLang #codr-edit
{
    display: none;
}

#codr-edit
{
    width: 100%;
    height: 100%;
    position: absolute;
}
