.menu .option
{
    font-size: 10pt;
    color: #777;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-bottom: #eee 1px solid;
    cursor: pointer;
}

.menu .option.current
{
    background-color: #f7f7f7;
}

.menu .menu-favs
{
   border-bottom: 4px solid #666;
}

.menu .menu-favs + .option
{
    border-top: #eee 1px solid;
}

